* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  display: flex;
  min-height: 100vh;
  background: rgb(58,180,109);
  background: linear-gradient(90deg, rgba(58,180,109,1) 0%, rgba(158,253,29,1) 50%, rgba(58,180,109,1) 100%);
}

h1 {
  margin-bottom: 0.5em;
  text-align: center;
}

.firstscreen, .secondscreen {
  margin: auto;
  padding: 1em;
  min-height: 20em;
  border-radius: 1em;
  background: #fff;
  border: 1px solid black;
  box-shadow: 1px 1px 4px;

  button {
    display: block;
    margin: 1em auto 0;
    width: 50%;
    height: 3em;
    border-radius: 0.4em;
    border: 1px solid black;
  }
}

.firstscreen{
  h2 {
    border-bottom: 1px solid #707070; 
    line-height: 0.1px;
    text-align: center;
    margin: 2em 0 1em;

    span {
      background: #fff;
      padding: 0 17px;
    }
  }

  form {
    padding: 1em;
    border-radius: 1em;
  }
}

.inputdiv {
  display: flex;
  justify-content: space-between;
  margin: 0.3em 0;
  padding: 0.5em;
  align-items: center;
  text-align: center;

  label {
    width: 30%;
  }

  input {
    width: 60%;
    height: 2em;
    border: 1px solid black;
    border-radius: 0.4em;
    padding: 1em;
  }
}

.secondscreen {
  h2 {
    text-align: center;
    margin: 0 auto 0.6em;
  }
}

.msg {
  min-height: 15em;

  p {
    width: 8em;
    text-align: center;
    font-size: 2em;
    margin: auto;
  }
}